.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.navbtn {
    text-decoration: none;
    
    color: rgb(0, 0, 0);
    border-radius: .5em;
    padding: .5em
}
