body {
    background-color: blanchedalmond;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 20rem;
}

.showCard{
    display: flex;

}

.card_link {
    border: none;
    text-decoration: none;
    color: aqua;
}