body {
    background-color: blanchedalmond;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width:50vw;
}

.showCard{
    display: flex;
    align-items: center;
    
    justify-content: space-evenly;
    

}

.card-link {
    border: 2px;
    background-color: rgb(186, 160, 160);
    text-align: center;
    margin-left:0px;
    padding: 0px;
}

.stateShow {
    border: none;
    text-align: center;
    padding: 0px;

}

.moveButton {
    border-radius: 2em;
    height: 50px;
    padding:10px, 10px, 10px, 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(79, 233, 225);
    text-align: center;
    

}