

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: blanchedalmond;
}

.card{
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width:50vw;
}

.showCard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    height: 100px;
    

}
#yourCardStacks{
    text-align: center;
    margin-top: 20px;
}

.card-link {
    border: 2px;
    background-color: transparent;
    text-decoration: underline;
    text-align: center;
    margin-left:0px;
    padding: 0px;
}

.stateShow {
    border: none;
    text-align: center;
    padding: 0px;
    background-color: transparent;
    width: fit-content;
    margin: 0 auto;

}

.link {
    text-decoration: none;
    color: black;
}

.moveButton {
    border-radius: 2em;
    height: 50px;
    padding:10px, 10px, 10px, 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: (4, 35, 226);
    text-align: center;
}

.addCardLink {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color:black
}

.form-group{
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
}
form{
    display: flex;
    flex-direction: column;
}

.LorS{
    margin-top: 10px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    
}

.instructions{
    text-align: center;
    margin-top: 10px;
}

.reveal {
    border: none;
    background-color: transparent;
}